@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt</h2>

<address>
    Marcin Kubiczek<br />
    ul. Nadbrzeżna 16<br />
    43-332 Pisarzowice <br />
    <abbr title="Phone">Telephone:</abbr>
    535-732-799<br />
    <abbr title="Mail"> Email: </abbr>
    kubiczekmar@gmail.com<br />
</address>

